:root {
    --background-color: #F98404; /* Zwart voor de achtergrond */
    --primary-color: #ff6f20; /* Helder oranje voor primaire elementen */
    --button-hover-color: #d55b00; /* Donkerder oranje voor hover effect */
    --text-color: #ffffff; /* Wit voor tekst */
    --outline-color: #6f2c91; /* Donkerpaars voor outlines */
    --card-background: rgba(255, 105, 0, 0.6); /* Lichter oranje met transparantie voor kaarten */
    --card-content-background: #5e4b8c; /* Donkerpaars voor de inhoud van kaarten */
    --card-text-color: var(--text-color); /* Gebruik de tekstkleur */
    --card-box-shadow: rgba(255, 105, 0, 0.5); /* Schaduw in oranje voor kaarten */
    --header-background-color: #4e4e4e; /* Donkergrijs voor de header */
}
