:root {
    --background-color: #1a1a1a; /* Diep zwart voor de achtergrond */
    --primary-color: #ff7f20; /* Warm oranje voor primaire elementen */
    --button-hover-color: #c65d00; /* Donker oranje voor hover effect */
    --text-color: #f0f0f0; /* Lichtgrijs voor tekst */
    --outline-color: #9b59b6; /* Donkerpaars voor outlines */
    --card-background: rgba(255, 140, 0, 0.7); /* Lichter oranje met transparantie voor kaarten */
    --card-content-background: #3e2a47; /* Donkerpaars voor de inhoud van kaarten */
    --card-text-color: var(--text-color); /* Gebruik de tekstkleur */
    --card-box-shadow: rgba(255, 140, 0, 0.5); /* Schaduw in oranje voor kaarten */
    --header-background-color: #3a3a3a; /* Donkergrijs voor de header */
}
